[submodule "addins/libms"]
	path = addins/libms
	url = https://github.com/LoigiFan72/LibMessageStudio.git

[submodule "lib/CtrSDK"]
	path = lib/CtrSDK
	url = https://github.com/LoigiFan72/CTRSDK.git

[submodule "lib/Nw4cEngine"]
	path = lib/Nw4cEngine
	url = https://github.com/LoigiFan72/NW4C.git
